link(href="/assets/styles/normalize.css" rel="stylesheet" type="text/css")
link(href="/assets/styles/reset.css" rel="stylesheet" type="text/css")
link(href="/assets/styles/style.css" rel="stylesheet" type="text/css")
