doctype html
html
  head
    meta(charset='utf-8')
    title #{title}-stylus's doc
    include includes/meta.pug
    include includes/styles.pug
  body
    div.wrap
      aside.sidebar
        nav
          include includes/navigator
      div.content
        header.logo
          a(href="/zh/index.html")
            img(src="/assets/images/stylus-logo.svg" alt="stylus")
        div.docs !{content}
        a.meow(href="https://github.com/Tao-Quixote/stylus-doc")
          img(src="/assets/images/octocat.svg" alt="Stylus doc on Github")
